nav {
    display: flex;
    flex-flow: nowrap row;
    font-family: serif;
    align-items: stretch;
}
#CFH-logo {
    background-color: purple;
    align-self: center;
    color: white;
    font-size: 41px;
    padding: 30px 10px 30px 10px;
}
.button {
    justify-items: space-evenly;
    background-color: black;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 53px 30px 20px 30px;
}
#search-bar {
    display: flex;
    background-color: black;
    padding: 50px 16px 16px 16px; 
}
#search-icon {
    width: 15px;
    height: 15px;
    padding: 2px 2px 5px 5px;
}
#user-controls {
    display: flex;
    flex-flow: nowrap column;
    background-color: black;
    color: white;
    padding: 32px 20px 10px 10px;
}
#cart {
    width: 25px;
    height: 15px;
}
